<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <nav class="navbar">
        <p>Hello {{username.username}}</p>
        <ul>
          <li class="li-inline nav-item listNav"><a class="sideNav" href="/">Homepage/dashboard</a></li>
          <li class="li-inline nav-item listNav"><a class="sideNav" href="/dashboard/profile">Your Posts/Profile</a></li>
          <li class="li-inline nav-item listNavEnd"><a id="profile" class="sideNav" href="/dashboard/new">New Post</a></li>
          <li class="li-inline nav-item"><a class="sideNav" href="#" id="logout-link">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="col area">
      <h3 class="titlePage">{{username.username}}'s Jokes</h3>
      <div class="posts">
        {{#each posts}}
        <article class="card">
          <div class="card-header flex-row justify-space-between">
            <h2>
              <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <div>
            {{body}}
            </div>
          </div>
          <div class="card-body">
              Posted by {{username.username}} on
          </div>
        </article>
          {{/each}}
      </div>
    </div>
  </div>
</div>